#bbpress-forums ul.bbp-threaded-replies {
    margin-left: 0px;
    margin-right: 50px;
}
li.bbp-forum-info,
li.bbp-topic-title {
    float: right;
    text-align: right;
}

li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
    float: right;
    text-align: center;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
    text-align: left;
    float: left;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
    float: left;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
    float: right;
    text-align: center;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
    clear: right;
}

#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
    float: right;
    text-align: right;
}

.bbp-header div.bbp-reply-author,
.bbp-footer div.bbp-reply-author {
    padding-left: 20px !important;
    padding-right: 0px !important;
}

#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 0px;
    margin-right: 140px;
    text-align: right;
}


/* =Topic and reply content
-------------------------------------------------------------- */

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
    margin-left: 0px;
    margin-right: 130px;
    padding: 12px 0px 12px 12px;
    text-align: right;
}


/* =Reply to
-------------------------------------------------------------- */

#bbpress-forums div.bbp-reply-to {
    margin-right: 130px;
    padding: 12px 0px 12px 12px;
    text-align: left;
}

#bbpress-forums div#bbp-cancel-reply-to {
    text-align: left;
}


/* =Breadcrumb and Tags
-------------------------------------------------------------- */


div.bbp-breadcrumb {
    float: right;
}

#bbpress-forums div.bbp-topic-tags {
    float: right;
}

/* =Search
-------------------------------------------------------------- */

#bbpress-forums #bbp-search-form {
    clear: right;
}

#bbpress-forums #bbp-search-form .hidden {
    left: auto;
    right: -999em;
}


#bbpress-forums div.bbp-search-form {
    float: left;
}


/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
    float: left;
}


fieldset span.bbp-admin-links {
    float: right;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}


/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
    float: right;
}

.bbp-pagination-links {
    float: left;
}

.bbp-pagination-links a,
.bbp-pagination-links span.current,
.bbp-pagination-links span.dots{
    float: right;
}

.bbp-pagination {
    float: right;
}


/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
    clear: right;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
    float: left;
    margin-left: 0px;
    margin-right: 25px;
}


.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
    clear: right;
}

body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
    margin-left: 0;
}


/* =Edit User
-------------------------------------------------------------- */


#bbpress-forums #bbp-your-profile fieldset div {
    float: right;
    clear: right;
}


#bbpress-forums #bbp-your-profile fieldset span.description {
    float: right;
    clear: right;
}


#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
    margin-right: 0;
}


/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form .bbp-submit-wrapper {
    text-align: left;
}

.bbp-login-form .bbp-login-links a {
    float: right;
    clear: right;
}

.bbp-logged-in img.avatar {
    float: right;
    margin: 0 0 20px 15px;
}

.bbp-remember-me label {
    margin-right: 3px;
    margin-left: 0px;
}

#bbp-search-form input[type="text"] {
    padding-left: 105px;
    padding-right: 0px;
    border-right: inherit !important;
    border-left: none !important;
}

#bbp-search-form input[type="submit"] {
    left:0px;
    right: auto;
}

.widget_display_forums ul li,
.widget_display_views ul li,
.widget_display_replies ul li,
.widget_display_topics ul li {
    padding-right: 0px;
}

.widget_display_forums ul li a:after,
.widget_display_views ul li a:after {
    content: "\f104";
    right: auto;
    left: 0px;
}

.widget_display_forums ul li a:before,
.widget_display_views ul li a:before {
    display: none;
}

.widget_display_stats dl dt {
    clear: left;
    float: right;
}

.widget_display_stats dl dd {
    float: left;
    text-align: left;
}


/* =Avatars
-------------------------------------------------------------- */

fieldset div.avatar {
    float: left;
}


/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
    border-right: 2px solid #eaeaea;
    margin-right: 5px;
    padding-right: 10px;
}


/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums #bbp-user-wrapper {
    float: right;
}


#bbpress-forums #bbp-single-user-details {
    float: right;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
    margin-right: 240px;
    margin-left: 0px;
}

#bbpress-forums #bbp-user-body {
    margin-right: 240px;
    margin-left: 0px;
}


/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

@media screen and (max-width: 900px) {
    #bbpress-forums #bbp-single-user-details #bbp-user-description {
        margin-right: 0px;
    }
    #bbpress-forums #bbp-user-body {
        margin-right: 0px;
    }
    #bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
        text-align: center;
    }
}


/* =Standard Mobile Landscape
-------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
    #bbpress-forums div.bbp-topic-tags {
        clear: right;
        float: right;
    }
    span.bbp-reply-post-date {
        float: right;
    }
    span.bbp-admin-links {
        clear: right;
        float: right;
    }
    #bbpress-forums .bbp-body div.bbp-reply-author {
        text-align: right;
    }
    #bbpress-forums #bbp-user-body {
        margin-right: 0;
    }
}